# Client ID for Spotify Authentication from https://developer.spotify.com/
VITE_SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID

# Spotify API credentials (do not expose these in client-side code)
# use for local development to test api directly from node scripts
# do not commit real secrets to public repository
SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=SPOTIFY_CLIENT_SECRET
